@model PatriciaEdgarAndDonEdgar.Models.iteminfo
@{
    //ViewBag.Title = "PEdgarDEdgar " + @Model.itemname;
    ViewBag.Title = "Patricia Edgar and Don Edgar";
}
<div id="divmain">
    <div class="DonDetails">
    @Html.Raw(@Model.itemblurb)
    </div>
</div>
