@{
    ViewBag.Title = "Patricia Edgar and Don Edgar";
    //ViewBag.GoogleSiteVerification = "jYU5olgGJLdSK9JheQm2Jf0xgtmbGVvhUTOqyk-6dlg";
}

@*body*@
<div id="divmain">
    <div class="DonDetails">
        <table>
            <tr>
                <td>
                    <div style="background-color:rgb(48,44,105);color:#ffffff;font-size:large;">
                        <b>Books</b>
                    </div>
                </td>
                <td>
                    <div style="background-color:rgb(48,44,105);color:#ffffff;font-size:large;">
                    <b>Recent Articles</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">
                    <div class="DonDetails">
                        <br />
                        <img id="peak" alt="Peak" src="~/Content/images/img_peak250.jpg" style="height:250px;"/><br />
                        <br />
                        <i>Peak: Reinventing Middle Age.</i>
                        Society is changing faster than policies and attitudes are keeping up with. People are living longer, retiring from work later, and remaining active and valuable contributors to the community well into and beyond their 50s and 60s.
                        <br /><br />
                        <i>Peak: Reinventing Middle Age</i> focuses on Australians in the 50–75 age bracket: their contributions to society and their needs and expectations for their own lives. It is an insightful look at employment, relationships, education, housing, finances, lifestyles, health and aged care, and the need for reinvention both on a personal level and in terms of social policy.
                        <br /><br />
                        It includes ten short biographies of Australians who have embraced their middle age in a variety of interesting and inspirational ways. They are living fulfilled lives, contributing to their communities and, most importantly, not succumbing to outdated notions of winding down or stepping back from life in this exciting stage of life.
                        <br/><br/>
                        More at <a target="_blank" href="https://www.textpublishing.com.au/books/peak-reinventing-middle-age">Text Publishing</a>
                        <hr />
                        <br />
                        <img id="ageing" alt="In Praise of Ageing" src="~/Content/images/img_inpraiseofageing_500.jpg" style="height:250px;" /><br />
                        <br />
                        <i>In Praise of Ageing.</i>
                        Retirement is not the time to cut all ties and head off to live
                        in a warm climate but rather to ask: Who do I want to be near?
                        How will my relationships be reaffirmed? What do I care about?
                        What can I create and contribute to the world?
                        <br /><br />
                        <i>In Praise of Ageing</i> flyer in pdf format (800KB)&#160;<a target="_blank" href="~/Content/Book/pdf/cat_edgar.pdf"><img alt="In Praise of Ageing" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                        <br /><br />
                        Read an edited extract <a href="Content/Article/oldandinvisible">Old and Invisible</a> from the Weekend Australian, September 2013,
                        and in pdf format (380KB)&#160;<a target="_blank" href="~/Content/Book/pdf/oldandinvisible.pdf"><img alt="Weekend Australian" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                        <br /><br />
                        Read <a href="Content/Article/lunchwithpedgar">Lunch with Patricia Edgar</a> from the Age, September 2013
                        <br /><br />
                        Listen to the podcast of <a target="_blank" href="http://www.abc.net.au/local/audio/2013/10/11/3866865.htm?&section=latest&date=%28none%29">The Conversation Hour on Ageing</a> with John Faine, ABC Radio, October 11 2013
                        <hr />
                        <br />
                        <img id="porkies" alt="Big Fat Porkies and Little White Lies" src="~/Content/images/img_porkies_500.jpg" style="height:250px;" /><br />
                        <br />
                        <i>Big Fat Porkies and Little White Lies.</i>
                        Humorous children's story illustrated by 11 year-old in quirky watercolors. 
                        Tim starts telling fibs. He can't work out how his Mum always knows when he lies. 
                        Grandma helps Tim learn the difference between 'little white lies' and 'big fat porkies'.
                        <br />
                        Available for purchase at <a href="http://www.amazon.com/Big-Porkies-Little-White-Lies/dp/098733591X/ref=sr_1_4?ie=UTF8&qid=1366871044&sr=8-4&keywords=patricia+edgar" target="_blank">Amazon</a>
                        <hr />
                        <br />
                        <img id="fairies" alt="Fairies of Plant Street" src="~/Content/images/img_fairybook_500.jpg" style="height:250px;" /><br />
                        <br />
                        <i>The Fairies of Plant Street.</i>
                        An original children’s story by Patricia Edgar based on the actual correspondence between Emily and Ace and the tooth fairies who live in their garden.
                        Gloriously illustrated in vibrant water colors by Don Edgar who has brought fairyland to life.
                        <br/>
                        'When Emily and Ace move house they discover tooth fairies live in their garden.
                        They write to them and become good friends, learning many secrets about fairyland and the ways fairies care for children.
                        All things are possible for those who believe'
                        <br/>
                        Available for purchase at <a href="https://www.etsy.com/listing/114473740/self-published-childrens-book-fairy-book" target="_blank">Etsy</a>
                        <hr />
                        <br />
                        <a href="Content/Book/TheNewChild"><img alt="NewChild" src="~/Content/images/img_thenewchild_500.jpg" style="height:300px;"/></a><br />
                        <br />
                        <i>The New Child: in search of smarter grown-ups</i>, <a href="Content/Book/TheNewChildTomorrowPeople">(read review, The Age)</a> by Don &amp; Patricia Edgar, is a challenging book on how 
						Australian childhood is changing, and what needs to be done by parents, teachers 
						and policy-makers to meet the needs of the 21<sup>st</sup> century child.<br /><br />
                        <a href="Content/Book/TheNewChild">&#160;More about The New Child</a>&#160;...
                    </div>
                    </td>
                    <td style="width:60%;padding-right:10px;vertical-align:top;">
                        <br />
                        <div style="padding:2px;border:solid 2px silver;font-size:medium;">
                            <b>Submission to the National Ageing Research Institute</b>
                            <br />
                            The New Middle age: ways to thrive in the longevity economy.
                            <br/>
                            <li>
                                <i>Read the full submission in pdf format (343KB)&#160;</i>
                                <a target="_blank" href="~/Content/Article/pdf/the_new_middle_age_20170902.pdf"><img alt="The new middle age" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                            </li>
                        </div>
                        <br />
                        <div style="padding:2px;border:solid 2px silver;font-size:medium;">
                            <b>Submission to the Australian and Children’s Screen Content Review</b>
                            <br />
                            <li>
                                <i>Read the full submission in pdf format (380KB)&#160;</i>
                                <a target="_blank" href="~/Content/Article/pdf/WhatReallyHappenedToAustralianChildrenJuly142017.pdf"><img alt="Australian Content and children's programs" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                            </li>
                            <br />
                            <i>Latest articles</i>
                            <br />
                            <li>
                                <a href="/Content/Article/latestACMAresearchonkids">Latest ACMA research on kids' TV (September 2017)</a>
                            </li>
                            <li>
                                <a href="/Content/Article/clubtroppo_pt2">The ABC and Children's Programming: Part Two (August 2017)</a>
                            </li>
                            <li>
                                <a href="/Content/Article/clubtroppo">Patricia Edgar on Children's TV: Part One (August 2017)</a>
                            </li>
                            <li>
                                <a href="/Content/Article/scrapkidstvcontentquotas">Scrap children's TV content quotas (July 2017)</a>
                            </li>
                            <li>
                                <a href="/Content/Article/tvnetworksfightthesamefight">Networks try same fight over and over again (July 2017)</a>
                            </li>
                        </div>
                        <br />
                        <i>Don Edgar in The Australian</i>
                        <ul>
                            <li>
                                <a href="Content/Article/highereducationbenefitsall">Higher education benefits everybody (September 2017)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar and Don Edgar in The Age/Sydney Morning Herald</i>
                        <ul>
                            <li>
                                <a href="Content/Article/insteadofblamingoldpeople">Instead of blaming old people.. (July 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/ABCHeadedForOblivion">The ABC's fun park a step on the road to oblivion (June 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/goodsexnotthepreserveoftheyoung">Good sex not the preserve of the young (March 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/fiftyshadesofgrey">Fifty Shades of Grey: a preparation for domestic violence (February 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/fiftynotthestartofoldage">Fifty is not the start of old age (February 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/hiddentruthsaboutdomesticviolence">Hidden truths about domestic violence (January 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/greyarmydignityandrespect">Grey army must fight to be treated with dignity and respect (August 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/oldergenerationmorethanpayingitsway">The older generation is more than paying its way (May 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/memotojoehockey">Memo to Joe Hockey (May 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/govtpolicyolderpeople">Government policy needs to catch up with older people (April 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/oldpeopleaburdenonhealthcare">Old people a burden on healthcare: poppycock (March 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/newsasentertainment2013">News as entertainment (May 2013)</a>
                            </li>
                            <li>
                                <a href="Content/Article/nomorepoorexcuses">No more poor excuses (April 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/greenproject">Green Project (September 2011)</a>
                            </li>
                            <li>
                                <a href="Content/Article/thecasefordecency">The case for decency (August 2011)</a>
                            </li>
                            <li>
                                <a href="Content/Article/tomorrowpeople">Tomorrow People (September 2008)</a>
                            </li>
                            <li>
                                <a href="Content/Article/handleonlife">Look to Hollywood (January 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/monsterormade">Monster or Made? (November 2011)</a>
                            </li>
                            <li>
                                <a href="Content/Article/ratedgforgarbage">Rated G for Garbage (October 2011)</a>
                            </li>
                            <li>
                                <a href="Content/Article/thekingsspeech">Speech treatment fit for a king (January 2011)</a>
                            </li>
                            <li>
                                <a href="Content/Article/juliagillard">PM who succumbs to image-makers cannot be trusted (August 2010)</a>
                            </li>
                            <li>
                                <a href="Content/Article/hazelhawke">Hazel Hawke Written Out in Biased History (July 2010)</a>
                            </li>
                            <li>
                                <a href="Content/Article/streamingwritingarithmetic">Streaming, Writing and Arithmetic (March 2010)</a>
                            </li>
                            <li>
                                <a href="Content/Article/fantasyland">Childhood policy straight out of fantasyland (October 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/abettermeasure">A better measure of society's wellbeing (October 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/littleconsumers">Children are not just little consumers (July 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/webbattle">Web opens new front in old battle (June 2009)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar in The Australian</i>
                        <ul>
                            <li>
                                <a href="Content/Article/obesity">Same lightweight ad menu key to youth obesity inquiry (June 2009)</a>
                            </li>
                        </ul>
                        <i>Patricia and Don Edgar in On Line Opinion</i>
                        <ul>
                            <li>
                                <a href="Content/Article/theimportanceofracialdiversityonourscreens">The Importance of racial diversity on our screens (February 2017)</a>
                            </li>
                            <li>
                                <a href="Content/Article/thehousingchallenge">The Housing Challenge (November 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/marriagefamilyandthemedia">Marriage, Family and the Media (July 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/positiveageing">Positive ageing: every age at once (May 2015)</a>
                            </li>
                            <li>
                                <a href="Content/Article/threattodemocracywithanobbledABC">The threat to democracy with a nobbled ABC (December 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/ageingisatriumph2014">Ageing is a triumph (October 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/mediaandchildren2014">Media and children's rights in the digital age (September 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/onlineopiniontheabc">Do we need the ABC? (February 2014)</a>
                            </li>
                            <li>
                                <a href="Content/Article/wakadoo">The Wakadoo Café in Canberra (June 2013)</a>
                            </li>
                            <li>
                                <a href="Content/Article/ftatvthatmighthavebeen">Free-to-air TV that might have been (December 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/whowantstogetmarried">Who wants to get married? (December 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/towatchornottowatch">To watch TV or not to watch TV (March 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/onlineopinion2012">Expatriate study broadens Australian academia (February 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/candemocracysurvivethemedia">Can Democracy Survive the Media (May 2011)</a>
                            </li>
                        </ul>
                        <i>Don Edgar</i>
                        <ul>
                            <li>
                                <a href="Content/Article/advocatingforvictoriaschildren">Advocating for Victoria's Children (Victorian Children’s Council, August 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/moderntechnologyandchildhood">Modern technology and Childhood (Discussion Paper, August 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/lovingandworking">Keynote address to Australian Federal Police Wellbeing Workshop, Canberra, 28 October, 2009</a>
                            </li>
                            <li>
                                <div><i>Don Edgar at the ARACY Forum, Canberra</i></</div>
                                <a href="Content/Article/aracy0909">Community attitudes to children, young people and families (May 2009)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar</i>
                        <ul>
                            <li>
                                Address to the DHHS Forum (November 19 2015) in pdf format (130KB)&#160;<a target="_blank" href="~/Content/Article/pdf/Address.to.DHHS.Forum.November.19th.Patricia.Edgar.pdf"><img alt="The Beacon" src="~/Content/images/img_pdf.jpg" style="height: 20px;" /></a>
                            </li>
                            <li>
                                <a href="Content/Article/thepassingofanaustralianicon">The Passing of an Australian Icon (Obituary, May 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/seizethedaymildurauniversity">LaTrobe University Graduation, Occasional Address, Mildura Campus (April 2012)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar in Screen Hub</i>
                        <ul>
                            <li>
                                <a href="Content/Article/actfanniversary">Patricia Edgar reflects on a famous anniversary (March 2012)</a>
                            </li>
                            <li>
                                <a href="Content/Article/esbenstorm">A tribute to Esben Storm (April 2011)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar in Shine - a monthly publication for the Department of Education and Early Childhood Development</i>
                        <ul>
                            <li>
                                <a href="Content/Article/shineissue9">Give gifted and talented students a push (2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shineissue8">Teaching media literacy should be our priority (2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shineissue7">Biting off more than we can chew (2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shineissue6">I think I can, I think I can (2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shinewsw">Why Storytelling Works (February 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shinetioa">Television is our ally – not our enemy (March 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shinedtta">Defining the typical Australian (April 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shinewicbt">Why intelligence can be taught (May 2009)</a>
                            </li>
                            <li>
                                <a href="Content/Article/shinegig">Gaming Is Good (June 2009)</a>
                            </li>
                        </ul>
                        <i>Patricia Edgar in 'The Beacon'</i>
                        <ul>
                            <li>
                                Breast Cancer Network Australia Magazine, 2011 in pdf format (70KB)&#160;<a target="_blank" href="~/Content/Article/pdf/BCNAArticle.pdf"><img alt="The Beacon" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                            </li>
                        </ul>
                        <br />
                        <i>Articles by Patricia Edgar and Don Edgar</i>
                        <ul>
                            <li>
                                <div>Modern technology has transformed the way children learn and interact with their environment ...</div>
                                <a href="Content/Article/01MediaVCAAFinalDraftIntro">VCAA Discussion Paper: Television, Digital Media and children’s learning... (February 2009)</a>
                            </li>
                        </ul>
                        <br />
                        <i>Articles of Interest</i>
                        <ul>
                            <li>Star Wars and Australia's Secrets in pdf format (91KB)&#160;<a target="_blank" href="~/Content/Article/pdf/StarWarsAndAustraliasSecrets.pdf"><img alt="Star Wars and Australia's Secrets" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a></li>
                            <li>LaTrobe university lecture (August 2011)&#160;<a href="Content/Speech/mrmildura">Mr Mildura: Reg Etherington</a></li>
                            <li>
                                Spasmodic Dysphonia in pdf format (312KB)&#160;<a target="_blank" href="~/Content/Article/pdf/SpasmodicDysphonia.pdf"><img alt="Spasmodic Dysphonia" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                                &#160;&#160;Read more on the&#160;
                                <a target="_blank" href="http://brainfoundation.org.au">Brain Foundation</a>&#160;website
                            </li>
                        </ul>
                        <b>News</b>
                        <div class="DonDetails">
                            <i>Visit the websites for the World Summit for Media and Children, the summit to be held in Manchester in 2017, the summit held in Kuala Lumpur in 2014, and the summit held in Karlstad 2010, by clicking on the images below.</i>
                            <br /><br />
                            &#160;
                            <a target="_blank" href="http://www.wsmcf.com/"><img alt="World Summit on Media for Children" src="~/Content/images/wsmc.png" style="height:136px;" /></a>
                            &#160;
                            <a target="_blank" href="http://www.wsmc2017.com/"><img alt="World Summit 2017" src="~/Content/images/wsmc2017.png" style="height: 136px;" /></a>
                            &#160;
                            <a target="_blank" href="http://www.wsmc2014.org/"><img alt="World Summit 2014" src="~/Content/images/wsmcKLall.png" style="height:136px;" /></a>
                            &#160;
                            <a target="_blank" href="http://www.wskarlstad2010.se"><img alt="World Summit 2010" src="~/Content/images/sidhuvud-mitten.jpg" style="height:136px;" /></a>
                            <br /><br />
                            <a href="Content/Speech/openingKarlstadSummit">Read the opening address Karlstad Summit, June 14th 2010</a>
                            <br />
                        </div>
                        <b>Books</b>
                        <div class="DonDetails">
                            <i>&#160;<b>'The New Child'</b> in pdf format (864KB)</i>&#160;<a target="_blank" href="~/Content/Book/pdf/TheNewChild.pdf"><img alt="The New Child" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                            <br />
                            <i>&#160;<b>'Bloodbath'</b> in pdf format (3MB)</i>&#160;<a target="_blank" href="~/Content/Book/pdf/Bloodbath.pdf"><img alt="Bloodbath" src="~/Content/images/img_pdf.jpg" style="height:20px;" /></a>
                            <br />
                        </div>
                </td>
            </tr>
        </table>
        <hr />
        <div class="DonDetails">
            <b>Dr Don Edgar</b> is an internationally known authority on family change, 
            marriage trends, community development and the work/family balance. 
            His PhD in Sociology from Stanford University led him to teaching at 
            the prestigious University of Chicago in the United States, 
            and at Monash and La Trobe Universities in Australia. 
            In 1980, he was appointed foundation Director of the 
            Australian Institute of Family Studies, 
            where his pioneering research helped shape government policy 
            towards Australian families over two decades. 
            He is a member of the Victorian Children's Council.<br />
            <a href="AboutDon">More</a>&#160;...
        </div>
        <div class="TriciaDetails">
            <b>Dr Patricia Edgar</b> is without peer in Australia as a media 
            researcher, producer of children's television, and policy 
            expert on media. She is the recipient of many awards and the 
            author of nine books. She taught the first film courses in an 
            Australian university and was the architect of the 
            Australian Children's Programme Standards. 
            As founding Director of the Australian Children's Television 
            Foundation she kick-started an industry, producing an 
            outstanding slate of internationally recognized programs. 
            She founded the World Summit Movement on Media for Children, 
            which she chairs.<br />
            <a href="AboutPatricia">More</a>&#160;... 
        </div>
    </div>
</div><!-- end divmain -->
